.button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 12px;
  text-transform: uppercase;
  transition: 0.3s ease all;
  width: auto;

  @media(min-width: $screen-md) {
    font-size: 1em;
    padding: 10px 12px;
  }
}
