.form-row {
  align-items: center;
  display: flex;
  margin: 15px 0;
  position: relative;
  width: 100%;
}

input {
  background: none;
  border: 1px solid $primary-black-400;
  color: #AAA;
  padding: 10px 10px 10px 30px;
  width: 100%;

  &::placeholder {
    color: #AAA;
  }
}
