#website-login {
  p {
    color: #777;
    font-size: 0.9em;
    text-align: center;
  }

  #login-form-container {
    margin: 0 auto;
    max-width: 420px;
    .form-row {
      i {
        color: white;
        position: absolute;
        left: 10px;
        width: 25px;
        text-align: right;
      }
    }
  }
}
