#website-home {
  #features-container {
    color: #EEE;
    display: flex;
    flex-direction: column;
    margin: 40px auto 0;
    max-width: 1200px;

    h2 {
      cursor: pointer;
      font-size: 1.8em;
      text-shadow: 3px 3px 6px #000;
      text-transform: uppercase;
      transition: 0.3s ease all;
    }

    .feature {
      margin-bottom: 40px;
      padding: 0 20px;
      text-align: center;

      hr {
        margin: 15px 0;
      }

      p {
        margin: 0 auto;
        max-width: 90%;
        text-shadow: 2px 2px 4px #000;
      }

      @media(min-width: $screen-md) {
        margin-bottom: 0;
        width: calc(100% / 3);
      }
    }

    .feature-leagues {
      h2 {
        &:hover {
          color: $orange-400;
        }
      }
      hr {
        border: none;
        border-top: 4px solid $orange-400;
        border-bottom: 2px solid $orange-800;
      }
    }

    .feature-teams {
      h2 {
        &:hover {
          color: $blue-400;
        }
      }

      hr {
        border: none;
        border-top: 4px solid $blue-400;
        border-bottom: 2px solid $blue-800;
      }
    }

    .feature-fixtures {
      h2 {
        &:hover {
          color: $purple-400;
        }
      }

      hr {
        border: none;
        border-top: 4px solid $purple-400;
        border-bottom: 2px solid $purple-800;
      }
    }

    @media(min-width: $screen-md) {
      flex-direction: row;
      margin: 60px auto 0;
    }
  }

  #actions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      font-weight: 600;
      margin: 10px 0;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: 0.3s ease all;
      width: auto;

      @media(min-width: $screen-md) {
        font-size: 1.4em;
        padding: 15px 30px;
      }
    }

    .button-register {
      background: $info-400;
      border-bottom: 2px solid $info-800;

      &:hover {
        background: $info-600;
        color: white;
      }
    }

    .button-login {
      background: $purple-400;
      border-bottom: 2px solid $purple-800;

      &:hover {
        background: $purple-600;
        color: white;
      }
    }

    @media(min-width: $screen-md) {
      flex-direction: row;
      margin: 60px auto 0;
      width: 360px;
    }
  }
}
