.dashboard-cointent-container {
  background: #EEE;
  min-height: 100vh;
  padding: 10px;
}

.container-background-image {
  background-image: url('/assets/images/website-home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $grey-800;
}

.website-content-container {
  min-height: 100vh;
  padding: 10px;

  #heading-container {
    margin: 20px 0;
    text-align: center;

    h1 {
      color: #EEE;
      font-size: 2.2em;
      text-shadow: 4px 4px 8px #000;
      @media(min-width: $screen-md) {
        font-size: 3.2em;
      }
    }

    @media(min-width: $screen-md) {
      margin: 0;
    }
  }

  @media(min-width: $screen-md) {
    padding-top: 40px;
  }
}
