.navbar-container {
  background: $primary-black-700;
  color: #DDD;
  text-align: center;

  #logo-container {
    align-items: center;
    cursor: pointer;
    color: #AAA;
    display: flex;
    justify-content: space-between;
    text-align: center;

    i {
      cursor: pointer;
      font-size: 18px;
      padding: 15px;
      @media(min-width: $screen-md) {
        display: none;
      }
    }

    h2 {
      font-size: 1.2em;
      padding: 15px;
      text-transform: uppercase;
      @media(min-width: $screen-md) {
        display: none;
      }
    }

    @media(min-width: $screen-md) {
      display: block;
      padding: 10px;
    }
  }
}
