#website-contact {
  background-image: url('/assets/images/website-home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $grey-800;
  min-height: 100vh;
  padding: 10px;

  #heading-container {
    margin: 20px 0;
    text-align: center;

    h1 {
      color: #EEE;
      font-size: 2.2em;
      text-shadow: 4px 4px 8px #000;
      @media(min-width: $screen-md) {
        font-size: 3.2em;
      }
    }

    @media(min-width: $screen-md) {
      margin: 0;
    }
  }

  #contact-form-container {
    max-width: 800px;
    margin: 0 auto;

    @media(min-width: $screen-md) {
      margin-top: 60px;
    }

    form {
      background: #222;
      padding: 15px;
      @media(min-width: $screen-md) {
        padding: 20px;
      }
    }

    .left, .right {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media(min-width: $screen-md) {
        width: 48%;
      }
    }

    .left-100 {
      width: 100%;
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

    }

    label {
      align-self: flex-start;
      color: #EEE;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    input, textarea {
      font-size: 1.2em;
      margin-bottom: 20px;
      padding: 5px;
    }

    .input-error {
      background: $danger-300;
      font-size: 0.8em;
      margin-top: -20px;
      margin-bottom: 20px;
      padding: 5px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      font-weight: 600;
      margin: 0 auto;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: 0.3s ease all;
      width: auto;

      @media(min-width: $screen-md) {
        font-size: 1.4em;
        padding: 15px 30px;
      }
    }

    .button-orange {
      background: $orange-400;
      border-bottom: 2px solid $orange-800;

      &:hover {
        background: $orange-600;
        color: white;
      }
    }
  }

  @media(min-width: $screen-md) {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}
