#website-contact {
  background-image: url('/assets/images/website-home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $grey-800;
  min-height: 100vh;
  padding: 10px;
}
