<div id="website-contact">
  <div id="heading-container">
    <h1>Get in touch</h1>
  </div>
  <div id="contact-form-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-row">
        <div class="left">
          <label>Name</label>
          <input type="text" name="name" ngModel required #name>
        </div>
        <div class="right">
          <label>Email</label>
          <input type="text" name="email" ngModel required #email>
        </div>
      </div>
      <div class="form-row">
        <div class="left left-100">
          <label>Message</label>
          <textarea rows=5></textarea>
        </div>
      </div>
      <div class="form-row">
        <button class="button-orange">Submit</button>
      </div>
    </form>
  </div>
</div>
