<p>Hello,</p>

<p>To change your password, click on the following link:</p>

<p><a href="<%= data.passwordResetUrl %>"><%= data.passwordResetUrl %></a></p>

<p>
  If you didn't request this, please ignore this email&nbsp;– your password won't change until you access the link
  above and request a new one.
</p>

<p>
  Thanks,<br>
  The My Table Football Team
</p>