#dashboard-account {
  .panel {
    background: #FFF;
    min-height: calc(100vh - 20px);
    width: 100%;

    .section {
      padding: 10px;
      .section-head {
        background: $blue-400;
        color: white;
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @media(min-width: $screen-sm) {
          width: auto;
        }
      }

      .section-body {
        .form-row {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          p {
            color: $blue-400;
            cursor: pointer;
            font-style: italic;
            margin: 20px 0 10px;
          }

          label {
            font-size: 1em;
            margin-top: 15px;
            font-style: italic;

            @media(min-width: $screen-sm) {
              font-size: 1.2em;
              margin-top: 10px;
              width: auto;
            }
          }

          input {
            border: 1px solid $blue-400;
            font-size: 1.2em;
            margin-top: 5px;
            padding: 5px;
            width: 100%;

            &:focus,
            &::selection,
            &:active {
              border: 1px solid $green-400;
              border-left: 4px solid $green-400;
            }

            @media(min-width: $screen-sm) {
              font-size: 1.2em;
              width: auto;
            }
          }
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 1.2em;
          font-weight: 600;
          margin: 10px 0;
          padding: 10px 20px;
          text-transform: uppercase;
          transition: 0.3s ease all;
          width: auto;

          @media(min-width: $screen-md) {
            font-size: 1em;
            padding: 10px 20px;
          }
        }

        .button-primary {
          background: $primary-400;
          border-bottom: 2px solid $primary-800;

          &:hover {
            background: $primary-600;
            color: white;
          }
        }

        .actions-row {
          margin-top: 10px;
        }
      }
    }
  }
}
