<div id="website-navbar">
  <div class="navbar-container">
    <div id="logo-container">
      <i class="fa fa-bars"></i>
      <h2>My Foosball</h2>
      <i class="fa fa-search"></i>
    </div>
    <ul>
      <li>
        <div class="navbar-item">
          <i class="fa fa-home fa-2x"></i>
          <span>Home</span>
        </div>
      </li>
      <li>
        <div class="navbar-item">
          <i class="fa fa-pencil fa-2x"></i>
          <span>Register</span>
        </div>
      </li>
      <li>
        <div class="navbar-item">
          <i class="fa fa-sign-in fa-2x"></i>
          <span>Login</span>
        </div>
      </li>
    </ul>
  </div>
</div>
