#website-register {
  #register-form-container {
    max-width: 400px;
    margin: 0 auto;

    form {
      background: #222;
    }

    @media(min-width: $screen-md) {
      margin-top: 60px;
    }
  }
}
