#website-register {
  #register-form-container {
    max-width: 400px;
    margin: 0 auto;

    @media(min-width: $screen-md) {
      margin-top: 60px;
    }

    form {
      background: #222;
      padding: 15px;
      @media(min-width: $screen-md) {
        padding: 20px;
      }
    }

    .form-row {
      display: flex;
      flex-direction: column;
    }

    label {
      align-self: flex-start;
      color: #EEE;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    input {
      font-size: 1.2em;
      margin-bottom: 20px;
      padding: 5px;
    }

    .input-error {
      background: $danger-300;
      font-size: 0.8em;
      margin-top: -20px;
      margin-bottom: 20px;
      padding: 5px;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.3s ease all;
    width: auto;

    @media(min-width: $screen-md) {
      font-size: 1.4em;
      padding: 15px 30px;
    }
  }

  .button-register {
    background: $info-400;
    border-bottom: 2px solid $info-800;

    &:hover {
      background: $info-600;
      color: white;
    }
  }
}
