// colors

$primary-800: #1565C0;
$primary-700: #1976D2;
$primary-600: #1E88E5;
$primary-500: #2196F3;
$primary-400: #42A5F5;
$primary-300: #64B5F6;

$danger-800: #C62828;
$danger-700: #D32F2F;
$danger-600: #E53935;
$danger-500: #F44336;
$danger-400: #EF5350;
$danger-300: #E57373;

$success-800: #2E7D32;
$success-700: #388E3C;
$success-600: #43A047;
$success-500: #4CAF50;
$success-400: #66BB6A;
$success-300: #81C784;

$warning-800: #D84315;
$warning-700: #E64A19;
$warning-600: #F4511E;
$warning-500: #FF5722;
$warning-400: #FF7043;
$warning-300: #FF8A65;

$info-800: #00838F;
$info-700: #0097A7;
$info-600: #00ACC1;
$info-500: #00BCD4;
$info-400: #26C6DA;
$info-300: #4DD0E1;

$pink-800: #AD1457;
$pink-700: #C2185B;
$pink-600: #D81B60;
$pink-500: #E91E63;
$pink-400: #EC407A;
$pink-300: #F06292;

$violet-800: #6A1B9A;
$violet-700: #7B1FA2;
$violet-600: #8E24AA;
$violet-500: #9C27B0;
$violet-400: #AB47BC;
$violet-300: #BA68C8;

$purple-800: #4527A0;
$purple-700: #512DA8;
$purple-600: #5E35B1;
$purple-500: #673AB7;
$purple-400: #7E57C2;
$purple-300: #9575CD;

$indigo-800: #283593;
$indigo-700: #303F9F;
$indigo-600: #3949AB;
$indigo-500: #3F51B5;
$indigo-400: #5C6BC0;
$indigo-300: #7986CB;

$blue-800: #0277BD;
$blue-700: #0288D1;
$blue-600: #039BE5;
$blue-500: #03A9F4;
$blue-400: #29B6F6;
$blue-300: #4FC3F7;

$teal-800: #00695C;
$teal-700: #00796B;
$teal-600: #00897B;
$teal-500: #009688;
$teal-400: #26A69A;
$teal-300: #4DB6AC;

$green-800: #558B2F;
$green-700: #689F38;
$green-600: #7CB342;
$green-500: #8BC34A;
$green-400: #9CCC65;
$green-300: #AED581;

$orange-800: #EF6C00;
$orange-700: #F57C00;
$orange-600: #FB8C00;
$orange-500: #FF9800;
$orange-400: #FFA726;
$orange-300: #FFB74D;

$brown-800: #4E342E;
$brown-700: #5D4037;
$brown-600: #6D4C41;
$brown-500: #795548;
$brown-400: #8D6E63;
$brown-300: #A1887F;

$grey-800: #444444;
$grey-700: #555555;
$grey-600: #666666;
$grey-500: #777777;
$grey-400: #888888;
$grey-300: #999999;

$slate-800: #37474F;
$slate-700: #455A64;
$slate-600: #546E7A;
$slate-500: #607D8B;
$slate-400: #78909C;
$slate-300: #90A4AE;
