// colors

$primary-black-800: #121212;
$primary-black-700: lighten($primary-black-800, 5%);
$primary-black-600: lighten($primary-black-800, 10%);
$primary-black-500: lighten($primary-black-800, 15%);
$primary-black-400: lighten($primary-black-800, 20%);

$primary-purple-800: darken($primary-purple-400, 20%);
$primary-purple-700: darken($primary-purple-400, 15%);
$primary-purple-600: darken($primary-purple-400, 10%);
$primary-purple-500: darken($primary-purple-400, 5%);
$primary-purple-400: #7a6fbe;

$primary-green-800: darken($primary-green-400, 20%);
$primary-green-700: darken($primary-green-400, 15%);
$primary-green-600: darken($primary-green-400, 10%);
$primary-green-500: darken($primary-green-400, 5%);
$primary-green-400: #22BAA0;

$primary-blue-800: darken($primary-blue-400, 20%);
$primary-blue-700: darken($primary-blue-400, 15%);
$primary-blue-600: darken($primary-blue-400, 10%);
$primary-blue-500: darken($primary-blue-400, 5%);
$primary-blue-400: #12AFCB;

$primary-yellow-800: darken($primary-yellow-400, 20%);
$primary-yellow-700: darken($primary-yellow-400, 15%);
$primary-yellow-600: darken($primary-yellow-400, 10%);
$primary-yellow-500: darken($primary-yellow-400, 5%);
$primary-yellow-400: #F2CA4C;

$primary-red-800: darken($primary-red-400, 20%);
$primary-red-700: darken($primary-red-400, 15%);
$primary-red-600: darken($primary-red-400, 10%);
$primary-red-500: darken($primary-red-400, 5%);
$primary-red-400: #F25656;
