<div id="website-navbar">
  <div id="logo-container">
    <h2>My Table Football</h2>
    <i class="fa fa-bars"></i>
    <img src="/assets/images/logo.png">
  </div>
  <ul>
    <li routerLink="/dashboard">
      <i class="fa fa-home"></i><p>Home</p>
    </li>
    <li>
      <i class="fa fa-handshake-o"></i><p>Fixtures</p>
    </li>
    <li>
      <i class="fa fa-list-alt"></i><p>Leagues</p>
    </li>
    <li>
      <i class="fa fa-users"></i><p>Teams</p>
    </li>
    <li>
      <i class="fa fa-cogs"></i><p>Account</p>
    </li>
    <li routerLink="/">
      <i class="fa fa-power-off"></i><p>Logout</p>
    </li>
  </ul>
</div>
