<div id="website-brand-guidelines" class="outlet-container">
  <div class="row">
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
    <div class="col-sm-1">col-sm-1</div>
  </div>
  <div class="row">
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-sm-2">col-sm-2</div>
    <div class="col-sm-2">col-sm-2</div>
  </div>
  <div class="row">
    <div class="col-sm-3">col-sm-3</div>
    <div class="col-sm-3">col-sm-3</div>
    <div class="col-sm-3">col-sm-3</div>
    <div class="col-sm-3">col-sm-3</div>
  </div>
  <div class="row">
    <div class="col-sm-4">col-sm-4</div>
    <div class="col-sm-4">col-sm-4</div>
    <div class="col-sm-4">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm-5">col-sm-5</div>
    <div class="col-sm-5">col-sm-5</div>
    <div class="col-sm-2">col-sm-2</div>
  </div>
  <div class="row">
    <div class="col-sm-6">col-sm-6</div>
    <div class="col-sm-6">col-sm-6</div>
  </div>
  <div class="row">
    <div class="col-sm-7">col-sm-7</div>
    <div class="col-sm-5">col-sm-5</div>
  </div>
  <div class="row">
    <div class="col-sm-8">col-sm-8</div>
    <div class="col-sm-4">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm-9">col-sm-9</div>
    <div class="col-sm-3">col-sm-3</div>
  </div>
  <div class="row">
    <div class="col-sm-10">col-sm-10</div>
    <div class="col-sm-2">col-sm-2</div>
  </div>
  <div class="row">
    <div class="col-sm-11">col-sm-11</div>
    <div class="col-sm-1">col-sm-1</div>
  </div>
  <div class="row">
    <div class="col-sm-12">col-sm-12</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="button-sm">button-sm</button>
      <button class="button-md">button-md</button>
      <button class="button-lg">button-lg</button>
      <button class="button-xl">button-xl</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="button-md button--purple">button--purple</button>
      <button class="button-md button--green">button--green</button>
      <button class="button-md button--blue">button--blue</button>
      <button class="button-md button--yellow">button--yellow</button>
      <button class="button-md button--red">button--red</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="button-lg button--purple button--rounded">button--rounded</button>
      <button class="button-lg button--green button--rounded">button--rounded</button>
      <button class="button-lg button--blue button--rounded">button--rounded</button>
      <button class="button-lg button--yellow button--rounded">button--rounded</button>
      <button class="button-lg button--red button--rounded">button--rounded</button>
    </div>
  </div>
</div>
