<div id="website-brand-guidelines" class="website-content-container">
  <div id="heading-container">
    <h1>Global CSS components + Styles</h1>
  </div>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <br>
  <h3 class="header--blue">heading--blue</h3>
  <h3 class="header--light-blue">heading--light-blue</h3>
  <h3 class="header--orange">heading--orange</h3>
  <h3 class="header--purple">heading--purple</h3>
  <h3 class="header--red">heading--red</h3>
</div>
